---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1

  tox:
    name: ${{ matrix.toxenv }}
    runs-on: ubuntu-latest
    env:
      TOXENV: ${{ matrix.toxenv }}

    strategy:
      fail-fast: false
      matrix:
        toxenv:
          - py,test-coverage
          - mypy

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml
      - name: Generate the cache suffix
        id: cache-suffix
        run: |
          echo cache-suffix=${TOXENV//,/-} >> $GITHUB_OUTPUT
      - uses: astral-sh/setup-uv@v7
        with:
          cache-suffix: ${{ steps.cache-suffix.outputs.cache-suffix }}
      - name: tox
        run: uvx tox
